#projects {
    font-family: var(--font-one);
    text-align: center;
    background-color: black;
    /* padding: 3% 0; */
}

.portfolio-item {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 240px;
    /* width: 80%; */
}

.portfolio-hover {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 240px;
}

.card {
    margin: 5px;
}



#yellow {
    background-color: var(--yellow);
}

#kast {
    content: url("../assets/kast-logo-detail.svg");
    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);
    max-width: 40%;
    max-height: 40%;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#pizza {
    content: url("../assets/pizza.png");
    max-width: 40%;
    max-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    opacity: 50%;
}

#pokemon {
    content: url("../assets/PokemonSymbol.svg");
    max-width: 40%;
    max-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#superhero {
    content: url('../assets/superhero.png');
    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);
    max-width: 40%;
    max-height: 40%;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.construction {
    content: url('../assets/construction.png');
    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);
    max-width: 40%;
    max-height: 40%;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#brightBlue {
    background-color: var(--brightBlue);
}

#pink {
    background-color: var(--pink);
}

#orange {
    background-color: var(--lightOrange);
}

#green {
    background-color: var(--lightGreen);
}

#red {
    background-color: var(--red);
}


#projects .portfolio-item .details {
    opacity: 0;
}

#projects .portfolio-item .details h4 {
    font-size: 25px;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: #000; }
  
  #projects .portfolio-item .details span {
    display: block;
    color: #53565A;
    font-size: 18px;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0); }
  
  #projects .portfolio-item:hover .details {
    opacity: 0.6; }
  
  #projects .portfolio-item:hover .details h4 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  
  #projects .portfolio-item:hover .details span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }