:root {
    --red: #e63946;
    --copper: #c46d5e;
    --navy: #13294B;
    --brightBlue: #00a3e0;
    --gray: #d1e0d7;
    --dark: #847577;
    --darkRed: #8e443d;
    --yellowOrange: #e4b363; 
    --green: #157f1f;
    --yellow: #ffca1b;
    --pink: #ff0092;
    --lightGreen: #5ef38c;
    --lightOrange: #ff8e47;
    --blue: #072ac5;

     --font-one: 'Roboto', sans-serif;
     --font-two: 'Permanent Marker', cursive;

}