:root {
    --red: #e63946;
    --copper: #c46d5e;
    --navy: #13294B;
    --brightBlue: #00a3e0;
    --gray: #d1e0d7;
    --dark: #847577;
    --darkRed: #8e443d;
    --yellowOrange: #e4b363; 
    --green: #157f1f;

     --font-one: 'Roboto', sans-serif;
     --font-two: 'Permanent Marker', cursive;

}